/* =============================================== */
/* ============ Stellar Dark Blue CSS ============ */
/* ============== V.0.0.2 Jun 2023 =============== */
/* =============================================== */

    /* Naming Scheme 
    __ = Categories -- example: u__color__blue 
                    -> u : Utility Classes
                    -> color : Utility => Color Classes
                    -> blue : Utility => Color Classes => Blue Value


    __ = Flags & Variations -- example: button__special--normal
                                        button__special--small 
                                        button__special--large
                                        button__special--off
    */


/* ========================== */
/*      Global Variables      */
/* ========================== */

    :root{
        --c-black: #121212;
        --c-stellar: #3077DC;
        --c-white: #FFF;
        --c-gray: #EEE;
        --c-red: #F04848;
        --c-dgray: #666666;

        /* --g-bg: radial-gradient(29.66% 52.65% at 33.95% 50%, #3077dc1d 0.01%, #01020508 99.99%, #00000007 100%); */
        --g-bg: radial-gradient(66.48% 69.94% at 29.02% 40.68%, #001220 0%, #030303 100%);
        --g-blue: linear-gradient(180deg, #3077DC 0%, #3A88F8 51.56%, #3077DC 100%);
        --g-blue-alt: linear-gradient(180deg, #3077DC 21.03%, #394A59 97.4%);
        --g-blue-transparent: linear-gradient(180deg, #3077DC 21.03%, #394A59 97.4%);
        --g-blue-stroke: linear-gradient(92.07deg, #00000000 1.43%, #156DB3 98.41%);
        --g-blue-input: linear-gradient(180deg, #00000000 0%, #015bac00 37.54%, #0068c6b8 100%);
        --g-red: linear-gradient(180deg, #00000000 0%, #015bac00 37.54%, #0068c6b8 100%);

        --sh-default: 0px 4px 9px 1px rgb(0 0 0 / 9%);
        --sh-div: 0px 4px 15px rgb(0 0 0 / 5%);
        --sh-button: 0px 4px 6px rgb(0 0 0 / 5%);

        --bor-radius: 8px;
        --bor-radius-button: 26px;
    }

/* ====================== */
/*      Default Rules     */
/* ====================== */
    *{
        box-sizing: border-box;
    }

    body{
        font-family: "CentraNo1", sans-serif;
    }

    b{
        font-weight: 600;
    }

    p{
        margin: 0;
    }


/* ======================= */
/*      Utility Rules      */
/* =======================
-- Font Size
-- Margin / Padding
-- Align
-- Radius
-- Colors and Background
-- Shadows
-- Columns (Row / col-x)
-- Icons
/* ======================= */

    .u__bold{
        font-weight: 600;
    }

    .u__fs__small{
        font-size: 14px;
    }
    
    .u__fs__normal{
        font-size: 16px;
    }
    
    .u__fs__medium, .u__fs__h4{
        font-size: 19px;
    }
    
    .u__fs__large, .u__fs__h2{
        font-size: 27px;
    }
    
    .u__fs__extreme, .u__fs__captionxl{
        font-size: 55px;
    }

    .u__fs__h1{
        font-size: 40px;
    }

    .u__fs__h3{
        font-size: 23px;
    }

    .u__disp--block{
        display: block!important;
    }
    
    .u__disp--flex{
        display: flex!important;
    }

    .u__disp--in{
        display: inline!important;
    }
    
    .u__disp--hidden{
        display: none!important;
    }

    .u__align--left {
        text-align: left;
        margin-right: auto;
    }

    .u__align--right {
        text-align: right;
        margin-left: auto;
    }

    .u__align--center{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    .u__align--vcenter{
        position: absolute!important;
        top: 50%!important;
        transform: translateY(-50%)!important;
    }
    
    .u__align--hcenter{
        position: relative!important;
        left: 50%!important;
        transform: translateX(-50%)!important;
    }

    .u__brd--radius{
        border-radius: var(--b-radius);
    }

    .u__c--black{
        color: var(--c-black);
    }

    .u__c--stellar{
        color: var(--c-stellar);
    }

    .u__c--white{
        color: var(--c-white);
    }

    .u__c--gray{
        color: var(--c-gray);
    }

    .u__c--red{
        color: var(--c-red);
    }

    .u__c--dgray{
        color: var(--c-dgray);
    }

    .u__bg--black{
        background: var(--c-black);
    }

    .u__bg--stellar{
        background: var(--c-stellar);
    }

    .u__bg--white{
        background: var(--c-white);
    }

    .u__bg--gray{
        background: var(--c-gray);
    }
    
    .u__bg--red{
        background: var(--c-red);
    }

    .u__bg--dgray{
        background: var(--c-dgray);
    }

    .u__bg--default{
        background: var(--g-bg);
    }

    .u__bg--blue{
        background: var(--g-blue);
    }

    .u__bg--blue-alt{
        background: var(--g-blue-alt);
    }

    .u__bg--blue-transp{
        background: var(--g-blue-transparent);
    }

    .u__bg--blue-stroke{
        background: var(--g-blue-stroke);
    }

    .u__bg--blue-input{
        background: var(--g-blue-input);
    }

    .u__bg--red-alt{
        background: var(--g-red);
    }

    .u__sh--default{
        box-shadow: var(--sh-default);
    }

    .u__sh--div{
        box-shadow: var(--sh-div);
    }

    .u__sh--btn{
        box-shadow: var(--sh-button);
    }

/* ======================= */
/*      Margin Rules      */
/* ===================== */

    .mt-xl {
        margin-top:100px;
    }
    .mb-xl {
        margin-bottom:100px;
    }
    
    .ml-xl {
        margin-left:100px;
    }
    
    .mr-xl {
        margin-right:100px;
    }
    
    .mt-l {
        margin-top:40px;
    }
    .mb-l {
        margin-bottom:40px;
    }
    
    .ml-l {
        margin-left:40px;
    }
    
    .mr-l {
        margin-right:40px;
    }
    
    .mt-s {
        margin-top:20px;
    }
    .mb-s {
        margin-bottom:20px;
    }
    .mb-es {
        margin-bottom:4px;
    }
    
    .ml-s {
        margin-left:20px;
    }
    
    .mr-s {
        margin-right:20px;
    }
    
    .mt-es {
        margin-top:10px;
    }
    .mb-none {
        margin-bottom:0px;
    }
    .mt-none {
        margin-top:0px;
    }
    
    .ml-none {
        margin-left:0px;
    }
    
    .mr-none {
        margin-right:0px;
    }

    .mg-none{
        margin: 0;
    }

/* ======================== */
/*      Padding Rules      */
/* ====================== */
    .p-none {
    padding: 0 !important;
    }
    .p-xs {
    padding: 5px !important;
    }
    .p-sm {
    padding: 10px !important;
    }
    .p-md {
    padding: 15px !important;
    }
    .p-lg {
    padding: 20px !important;
    }
    .p-xl {
    padding: 25px !important;
    }
    .p-xlg {
    padding: 30px !important;
    }
    .pt-none {
    padding-top: 0 !important;
    }
    .pt-xs {
    padding-top: 5px !important;
    }
    .pt-sm {
    padding-top: 10px !important;
    }
    .pt-md {
    padding-top: 15px !important;
    }
    .pt-lg {
    padding-top: 20px !important;
    }
    .pt-xl {
    padding-top: 25px !important;
    }
    .pt-xlg {
    padding-top: 30px !important;
    }
    .pb-none {
    padding-bottom: 0 !important;
    }
    .pb-xs {
    padding-bottom: 5px !important;
    }
    .pb-sm {
    padding-bottom: 10px !important;
    }
    .pb-md {
    padding-bottom: 15px !important;
    }
    .pb-lg {
    padding-bottom: 20px !important;
    }
    .pb-xl {
    padding-bottom: 25px !important;
    }
    .pb-xlg {
    padding-bottom: 30px !important;
    }
    .pl-none {
    padding-left: 0 !important;
    }
    .pl-xs {
    padding-left: 5px !important;
    }
    .pl-sm {
    padding-left: 10px !important;
    }
    .pl-md {
    padding-left: 15px !important;
    }
    .pl-lg {
    padding-left: 20px !important;
    }
    .pl-xl {
    padding-left: 25px !important;
    }
    .pl-xlg {
    padding-left: 30px !important;
    }
    .pr-none {
    padding-right: 0 !important;
    }
    .pr-xs {
    padding-right: 5px !important;
    }
    .pr-sm {
    padding-right: 10px !important;
    }
    .pr-md {
    padding-right: 15px !important;
    }
    .pr-lg {
    padding-right: 20px !important;
    }
    .pr-xl {
    padding-right: 25px !important;
    }
    .pr-xlg {
    padding-right: 30px !important;
    }

/* ======================== */
/*      Base Elements      */
/* ====================== */

    body{
        color: white;
    }

    h1.captionxl, span.captionxl, p.captionxl{
        font-family: 'Kross Neue Grotesk';
        font-style: italic;
        font-weight: 900;
        font-size: 55px;
        line-height: 66px;
        text-align: center;
        letter-spacing: -0.03em;
        text-transform: uppercase;
    }

    h1, h2, h3, h4, h5,
    .h1, .h2, .h3, .h4, .h5{
        font-family: 'Kross Neue Grotesk';
        text-align: center;
    }

    h1, .h1{
        font-style: normal;
        font-weight: 300;
        font-size: 40px;
        line-height: 48px;
    }

    h2, .h2{
        font-style: italic;
        font-weight: 700;
        font-size: 27px;
        line-height: 32px;
    }

    h3, .h3{
        font-style: normal;
        font-weight: 700;
        font-size: 23px;
        line-height: 28px;
    }

    h4, .h4{
        font-style: normal;
        font-weight: 700;
        font-size: 19px;
        line-height: 23px;
    }

    h5, .h5{
        font-style: normal;
        font-weight: 900;
        font-size: 17px;
        line-height: 20px;
    }

    p, .paragraph, span{
        font-family: 'CentraNo1';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 21px;
    }

    p.small{
        font-size: 14px;
        line-height: 18px;
        text-align: center;
    }

    div.heading{
        padding: 11px;
        border-radius: var(--b-radius);
        width: 100%;
        min-height: 70px;
        height: 85%;
        text-align: left;
        background: var(--g-blue-input);
        border-bottom: solid 2px var(--c-stellar);
    }
    div.heading > *{
        text-align: left;
    }

    a{
        font-family: 'CentraNo1';
        font-style: normal;
        font-weight: 400;
        text-decoration-line: underline;
        color: var(--c-stellar);
        cursor: pointer;
    }

    a:hover{
        color: var(--c-white);
    }