<div class="dkit__title">
    <h2 class="dkit__h2">Bloc guide personnalisé</h2>
</div>

<div class="dkit__content">

    <!------------------------ Début du code Partir ------------------------>
        <div class="row u__background__glacier">
            <div class="titre__h2__container mt-l mb-l ml-l">
                <h2 class="titre__h2"><b>Bien réussir son voyage</b></h2>
                <h2 class="titre__h2">Notre méthode en six étapes</h2>
            </div>
        </div>
    <!------------------------ Fin du code Partir ------------------------>

</div>