<div class="dkit__title">
    <h2 class="dkit__h2">Bloc général</h2>
</div>

<div class="dkit__content">

    <!------------------------ Début du code Partir ------------------------>
    <div class="container">
        <div class="row mb-l">
            <div class="col-8">
                <div class="heading">
                    <p class="h3">Caption XL</p>
                    <p class="">This is a Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quia, vero ipsum sed magnam sequi eius soluta dolorem impedit voluptatum hic vitae <a href="">quisquam</a>, suscipit necessitatibus, molestiae facilis repellat sunt placeat?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="heading">
                    <p class="h3">Caption XL 2</p>
                    <p class="">This is a Lorem Ipsum</p>
                </div>
            </div>
            <div class="col-8">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quia, vero ipsum sed magnam sequi eius soluta dolorem impedit voluptatum hic vitae quisquam, suscipit necessitatibus, molestiae facilis repellat sunt placeat?</p>
            </div>
        </div>
    </div>    
    <!------------------------ Fin du code Partir ------------------------>

</div>