<div class="dkit__title">
    <h2 class="dkit__h2">Bloc général</h2>
</div>

<div class="dkit__content">

    <!------------------------ Début du code Partir ------------------------>
            <div class="bloc__general">
                <h2 class="titre__h2">Sélection des plus beaux voyages au Sri-Lanka</h2>
                <div class="bloc__picture">
                    <div class="bouton__favoris">
                        
                    </div>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" alt="" srcset="">
                </div>
                <div class="bloc__general__titre mb-s">
                    <h3 class="titre__h3">Adam's Peak</h3>
                    <div class="bloc__general__stars">
                        <i class="u__star u__star--md"></i>
                        <i class="u__star u__star--md"></i>
                        <i class="u__star u__star--md"></i>
                        <i class="u__star u__star--md"></i>
                        <i class="u__star u__star--md"></i>
                    </div>
                </div>
                <div class="mb-s">
                    <a class="etiquette__tag active">Quand partir</a>
                    <a class="etiquette__tag">Quand partir / Taille variable</a>
                    <a class="etiquette__tag">Quoi faire ?</a>
                    <a class="etiquette__tag">Météo</a>
                </div>
                <div class="conseil__auteur conseil__auteur--retaille mb-l">
                    <p class="paragr-1"><b>Le conseil de Sophie : </b>Attention, les soirs de pleine lune et les week-ends, le site attire beaucoup de monde. Ne tentez pas l’ascension pendant la saison des pluies, le chemin périlleux devient très glissant et la vue est souvent bouchée par le brouillard.</p>
                </div>
                <p class="paragr-1 mb-l">Au sud-ouest de la région des hauts plateaux, l’Adam’s Peak (2 243 m), est l’une des montagnes les plus importantes du Sri Lanka. Au sommet, une empreinte de pas gravée dans la roche attire des pèlerins de différentes confessions depuis des millénaires. Selon les croyances, l’interprétation diffère : ce serait le pied de Bouddha pour les bouddhistes, celui de Shiva pour les hindous, celui d’Adam pour les musulmans ou encore cel…</p>
                <div class="bloc__general__button mt-l">
                    <a class="button__primary" href="https://google.com">Cliquez ici</a>
                </div>
            </div>
    <!------------------------ Fin du code Partir ------------------------>

</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Bloc conseils</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <div class="conseil__auteur conseil__auteur--retaille mb-s">
                <p class="paragr-1"><b>Le conseil de Sophie : </b>Attention, les soirs de pleine lune et les week-ends, le site attire beaucoup de monde. Ne tentez pas l’ascension pendant la saison des pluies, le chemin périlleux devient très glissant et la vue est souvent bouchée par le brouillard.</p>
            </div>
            <div class="conseil__auteur conseil__auteur--full">
                <p class="paragr-1"><b>Le conseil de Sophie : </b>Attention, les soirs de pleine lune et les week-ends, le site attire beaucoup de monde. Ne tentez pas l’ascension pendant la saison des pluies, le chemin périlleux devient très glissant et la vue est souvent bouchée par le brouillard.</p>
            </div>
        </div>
    </div>
</div>