<div class="dkit__title">
    <h2 class="dkit__h2">Couleurs principales</h2>
</div>

<div class="dkit__content">

    <div class="dkit__color__group">
        <div class="dkit__color">
            <div class="u__color__noir">
            </div>
            <div class="dkit__color__text">
                <p><b>Noir</b></p>
                <p>#3B3B3B</p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__color__mimosa">
            </div>
            <div class="dkit__color__text">
                <p><b>Mimosa</b></p>
                <p>#FEC40A</p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__color__background">
            </div>
            <div class="dkit__color__text">
                <p><b>Background</b></p>
                <p>#FAFAFA</p>
            </div>
        </div>
    </div>

</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Couleurs secondaires</h2>
</div>

<div class="dkit__content">

    <div class="dkit__color__group">
        <div class="dkit__color">
            <div class="u__color__groseille">
            </div>
            <div class="dkit__color__text">
                <p><b>Groseille</b></p>
                <p>#F04848</p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__color__naples">
            </div>
            <div class="dkit__color__text">
                <p><b>Naples</b></p>
                <p>#FFFAEB</p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__color__gris">
            </div>
            <div class="dkit__color__text">
                <p><b>Gris</b></p>
                <p>#F0F1F2</p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__color__glacier">
            </div>
            <div class="dkit__color__text">
                <p><b>Glacoer</b></p>
                <p>#EEF2F7</p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__color__accents">
            </div>
            <div class="dkit__color__text">
                <p><b>Accents</b></p>
                <p>#666666</p>
            </div>
        </div>
    </div>

</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Ombres</h2>
</div>

<div class="dkit__content">
    <div class="dkit__color__group">
        <div class="dkit__color">
            <div class="u__ombre__btn">
            </div>
            <div class="dkit__color__text">
                <p>Boutons</p>
                <p>
                    X: 0
                    Y: 4
                    Blur: 6
                    Spread: 0
                    Color: 000000
                    Transp.: 5%
                </p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__ombre__div">
            </div>
            <div class="dkit__color__text">
                <p>Ombres Div</p>
                <p>
                    X: 0
                    Y: 4
                    Blur: 15
                    Spread: 0
                    Color: 000000
                    Transp.: 5%
                </p>
            </div>
        </div>
        <div class="dkit__color">
            <div class="u__ombre__blocguide">
            </div>
            <div class="dkit__color__text">
                <p>Bloc guide</p>
                <p>
                    X: 0
                    Y: 4
                    Blur: 9
                    Spread: 1
                    Color: 000000
                    Transp.: 9%
                </p>
            </div>
        </div>
    </div>
</div>