<div class="dkit__title">
    <h2 class="dkit__h2">Liens cliquables</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <a class="lien__primary" href="https://google.com">les îles Éoliennes.</a>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Pastilles</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <a class="etiquette__tag">Quand partir</a>
            <a class="etiquette__tag active">Quand partir / Taille variable</a>
            <a class="etiquette__tag">Quoi faire ?</a>
            <a class="etiquette__tag">Météo</a>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Boutons</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <a class="button__primary" href="https://google.com">Cliquez ici</a>
            <a class="button__noir" href="https://google.com">Cliquez ici</a>
            <a class="button__gris" href="https://google.com">Cliquez ici</a>
            <a class="button__transparent" href="https://google.com">Cliquez ici</a>
        </div>
    </div>
</div>