<div class="dkit__title">
    <h2 class="dkit__h2">Marges & Colonnes</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="u__col-8 u__align-center">
            <div class="dkit__col__example"><p>col-8</p></div>
        </div>
    </div>
    <div class="u__align-center">
        <p>8 colonnes</p>
        <p>max 1136 px</p>
    </div>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="u__col-4">
            <div class="dkit__col__example"><p>col-4</p></div>
        </div>
        <div class="u__col-4">
            <div class="dkit__col__example"><p>col-4</p></div>
        </div>
    </div>
    <div class="u__align-center">
        <p>4+4 colonnes</p>
    </div>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="u__col-6">
            <div class="dkit__col__example"><p>col-6</p></div>
        </div>
        <div class="u__col-2">
            <div class="dkit__col__example"><p>col-2</p></div>
        </div>
    </div>
    <div class="u__align-center">
        <p>6+2 colonnes</p>
    </div>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="u__col-4">
            <div class="dkit__col__example"><p>col-4</p></div>
        </div>
        <div class="u__col-2">
            <div class="dkit__col__example"><p>col-2</p></div>
        </div>
        <div class="u__col-2">
            <div class="dkit__col__example"><p>col-2</p></div>
        </div>
    </div>
    <div class="u__align-center">
        <p>4+2+2 colonnes</p>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Rayon des arrondis</h2>
</div>

<div class="dkit__content">
    <div class="dkit__radius-preview u__align-center">
        <div class="u__b-radius u__align-center">
            <p>8 px</p>
        </div>
    </div>
    <div class="u__align-center">
        <p><b>Rayon des blocs</b></p>
        <p>Rayon: 8px</p>
        <p>Corner smoothing: 67%</p>
    </div>
</div>