<link rel="stylesheet" href="../partir_card.css">

<div class="dkit__title">
    <h2 class="dkit__h2">Menu de page</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-12 u__align-center">
            <div class="menu__primary__container">
                <div class="menu__primary">
                    <div class="menu__primary__item">
                        <ul class="menu__primary__subitems">
                            <li class="menu__primary__subitem"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">File d'ariane</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-12 u__align-center">
            <div class="file__ariane__container">
                <ul class="file__ariane titre__header__menu">
                    <li class="file__ariane__item"><a href="">Partir</a> / </li>
                    <li class="file__ariane__item"><a href="">Où Partir ?</a> / </li>
                    <li class="file__ariane__item"><a href="">Où partir en décembre ?</a> / </li>
                    <li class="file__ariane__item"><a href="">Beaux voyages</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Boutons</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <a class="button__primary" href="https://google.com">Cliquez ici</a>
            <a class="button__noir" href="https://google.com">Cliquez ici</a>
            <a class="button__gris" href="https://google.com">Cliquez ici</a>
            <a class="button__transparent" href="https://google.com">Cliquez ici</a>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Icône favoris</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-4 u__align-center">
            <div class="dkit__cont__column mb-s">
                <div class="bouton__favoris">
                </div>
                <div class="bouton__favoris fav--rempli">
                </div>
            </div>
            <div class="dkit__cont__column">
                <div class="bouton__favoris__complet">
                    <div>
                        <div class="bouton__favoris">
                        </div>
                        <span class="texte__accents">Ajouter la page aux favoris</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Pastilles</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <a class="etiquette__tag">Quand partir</a>
            <a class="etiquette__tag active">Quand partir / Taille variable</a>
            <a class="etiquette__tag">Quoi faire ?</a>
            <a class="etiquette__tag">Météo</a>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Menu secondaire</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-4 u__align-center">
            <div class="menu__secondary__cadre">
                <div class="menu__secondary">
                    <h5 class="titre__h5">Quand partir ?</h5>
                    <ul class="menu__secondary__list">
                        <li class="menu__secondary__item"><a class="titre__menu__alt" href="">Température Negombo</a></li>
                        <li class="menu__secondary__item"><a class="titre__menu__alt" href="">Température Negombo</a></li>
                        <li class="menu__secondary__item"><a class="titre__menu__alt" href="">Température Negombo</a></li>
                        <li class="menu__secondary__item active"><a class="titre__menu__alt" href="">Température Negombo</a></li>
                        <li class="menu__secondary__item"><a class="titre__menu__alt" href="">Température Negombo</a></li>
                        <li class="menu__secondary__item"><a class="titre__menu__alt" href="">Température Negombo</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dkit__title">
    <h2 class="dkit__h2">Images</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="cadre u__col-8 u__align-center">
            <div class="bloc__picture">
                <div class="bouton__favoris">  
                </div>
                <img src="https://upload.wikimedia.org/wikipedia/commons/f/f9/Phoenicopterus_ruber_in_S%C3%A3o_Paulo_Zoo.jpg" alt="" srcset="">
            </div>
        </div>
    </div>
</div>

<div class="dkit__title">
    <h2 class="dkit__h2">Cartes Soleil</h2>
</div>

<div class="dkit__content">
    <div class="row">
        <div class="u__col-8 u__align-center">
            <div class="soleil__cards__group partir__cards__group">
                <div class="soleil__card partir__card">
                  <div class="partir__card__top">
                    <div class="soleil__card__meteo">
                      <div>
                        <p>25 -- 33º</p>
                        <p>Mer à 28º</p>
                      </div>
                    </div>
                    <div class="partir__card__photo__container bloc__picture">
                      <div class="partir__card__photo">
                        <img
                          src="https://thumbs.dreamstime.com/b/r%C3%A9seau-global-%C3%A0-travers-la-terre-de-plan%C3%A8te-blockchain-136686433.jpg"
                          alt=""
                          srcset=""
                        />
                      </div>
                      <div class="bouton__favoris"></div>
                    </div>
                  </div>
                  <div class="partir__card__info u__align-left">
                    <div class="soleil__card__description mb-s">
                      <h4 class="titre__h4">Thaïlande</h4>
                      <p class="paragr__corps--sm">
                        Au choix : vous abandonner sur une belle île du sud ou arpenter les
                        cités impériales du Royaume des Siam, sous le soleil exactement.
                      </p>
                    </div>
                    <div class="soleil__card__links mb-s">
                        <a class="lien__primary" href="https://google.com">Info pratique</a>
                        <a class="lien__primary" href="https://google.com">Info climat</a>
                        <a class="lien__primary" href="https://google.com">Info vol</a>
                    </div>
                    <div class="soleil__card__links soleil__card__links--2">
                        <span class="paragr__corps--sm"><i>*</i><b>10 ventes privées en cours -79%</b></span>
                        <span class="paragr__corps--sm"><i>*</i>Comparer les séjours</span>
                        <span class="paragr__corps--sm"><i>*</i>Comparer les locations</span>
                    </div>
                  </div>
                </div>
            </div>              
        </div>
    </div>
</div>