<div class="row">
    <div class="col-12">
        <h1 class="captionxl">Typo_Headings</h1>
    </div>
</div>

<div class="dkit__content">
    <div class="dkit__typo__item">
        <span class="dkit__typo__title">Caption XL</span>
        <span class="captionxl">For huge titles</span>
    </div>

    <div class="dkit__typo__item">
        <span class="dkit__typo__title">H1</span>
        <span class="h1">For H1 titles, like this one</span>
    </div>

    <div class="dkit__typo__item">
        <span class="dkit__typo__title">H2</span>
        <span class="h2">This is H2</span>
    </div>

    <div class="dkit__typo__item">
        <span class="dkit__typo__title">H3</span>
        <span class="h3">It's getting smaller</span>
    </div>

    <div class="dkit__typo__item">
        <span class="dkit__typo__title">H4</span>
        <span class="h4">And smaller...</span>
    </div>

    <div class="dkit__typo__item">
        <span class="dkit__typo__title">H5</span>
        <span class="h5">The last one</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="captionxl">Typo_Paragr</h1>
    </div>
</div>

    
<div class="dkit__content">
    <div class="dkit__typo__item">
        <span class="dkit__typo__title">Paragraph</span>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus voluptatem soluta aliquam harum pariatur magnam quia ducimus sed delectus incidunt et, quam, quas vitae eveniet dicta repellat, nam nihil?</p>
    </div>
    <div class="dkit__typo__item">
        <span class="dkit__typo__title">Smaller Paragraph</span>
        <p class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro iure consequatur enim expedita omnis impedit qui nostrum sint sed dolores necessitatibus veniam eius, maxime, alias velit ex nemo doloremque amet?</p>
    </div>
</div>