<div class="row">
    <div class="col-12">
        <h1 class="captionxl">Typo_Headings</h1>
    </div>
</div>

<div class="dkit__content">
    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">Caption XL</p>
            <p class="">This is used for bigger titles, usually once per page</p>
        </div>
        <span class="captionxl">For huge titles</span>
    </div>

    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">H1</p>
            <p class="">H1 titles, used usually once per page</p>
        </div>
        <span class="h1">For H1 titles, like this one</span>
    </div>

    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">H2</p>
            <p class="">H2 titles</p>
        </div>
        <span class="h2">This is H2</span>
    </div>

    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">H3</p>
            <p class="">H3 titles</p>
        </div>
        <span class="h3">It's getting smaller</span>
    </div>

    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">H4</p>
            <p class="">H4 titles</p>
        </div>
        <span class="h4">And smaller...</span>
    </div>

    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">H5</p>
            <p class="">H5 titles</p>
        </div>
        <span class="h5">The last one</span>
    </div>
</div>

<div class="row">
    <div class="col-12">
        <h1 class="captionxl">Typo_Paragr</h1>
    </div>
</div>

    
<div class="dkit__content">
    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">Paragraph</p>
            <p class="">The standard size for paragraphs</p>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos voluptatibus voluptatem soluta aliquam harum pariatur magnam quia ducimus sed delectus incidunt et, quam, quas vitae eveniet dicta repellat, nam nihil?</p>
    </div>
    <div class="dkit__typo__item">
        <div class="heading mb-m">
            <p class="h3">Smaller paragraph</p>
            <p class="">Use this for smaller, less important paragraphs</p>
        </div>
        <p class="small">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Porro iure consequatur enim expedita omnis impedit qui nostrum sint sed dolores necessitatibus veniam eius, maxime, alias velit ex nemo doloremque amet?</p>
    </div>
</div>