<div class="dkit__title">
    <h2 class="dkit__h2">Headings</h2>
</div>
    
    <div class="dkit__content">
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>Titre Hero</b></span>
            <span class="titre__hero">Sri Lanka</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>H1</b></span>
            <span class="titre__h1">Les Troyens commençaient à avancer en armes.</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>H2</b></span>
            <span class="titre__h2">Poussés par Athéna aux yeux pers, ils tournèrent leurs pensées.</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>H3</b></span>
            <span class="titre__h3">Nul ne pouvait voir clair dans la mêlée.</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>H4</b></span>
            <span class="titre__h4">Côte à côte dans la poussière</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>H5</b></span>
            <span class="titre__h5">Par delà l'antique tombeau</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>Header - Menu de Page</b></span>
            <span class="titre__header__menu">Que voir, Que faire ?</span>
        </div>
    
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>Menu secondaire</b></span>
            <span class="titre__menu__alt">Températures Lyon</span>
        </div>
    </div>
    
    <div class="dkit__title">
        <h2 class="dkit__h2">Paragraphs</h2>
    </div>
    
    <div class="dkit__content">
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>P1</b></span>
            <p class="paragr-1">Deux saisons alternent au Sri Lanka, la saison sèche et la mousson, et ces saisons varient selon la région. Quand il pleut dans une partie de l’île, le beau temps règne dans d’autres régions. C’est pourquoi cette alternance de climats rend un voyage au Sri Lanka possible presque tous les mois de l’année.
                - Sur la côte est de l’île, la saison sèche a lieu durant les mois de mai à septembre avec des températures chaudes grimpant jusqu’à 34°C durant les mois de mai et juin. La mousson fait son apparition entre les mois d’octobre et janvier.</p>
        </div>
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>Corps guide</b></span>
            <p class="paragr__corps">Les hommes s'arrêtèrent au seuil de la maison. Ils entendaient Circé qui, à l'intérieur, chantait de sa belle voix en tissant au métier une toile merveilleuse, digne d'une déesse.</p>
        </div>
        <div class="dkit__typo__item">
            <span class="dkit__typo__title"><b>Petit corps</b></span>
            <p class="paragr__corps--sm">Les hommes s'arrêtèrent au seuil de la maison. Ils entendaient Circé qui, à l'intérieur, chantait de sa belle voix en tissant au métier une toile merveilleuse, digne d'une déesse.</p>
        </div>
    </div>
</div>